<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container>
<mat-sidenav opened mode="side"><app-left-sidenav></app-left-sidenav></mat-sidenav>
<mat-sidenav-container>
<mat-sidenav opened mode="side" position="end"><app-right-sidenav></app-right-sidenav></mat-sidenav>
<nav mat-tab-nav-bar>
	<a mat-tab-link
		*ngFor='let route of appRoutes'
		[routerLink]='route.path'
		routerLinkActive #rla='routerLinkActive'
		[active]='rla.isActive'>
		{{route.label}}
	</a>
</nav>
<router-outlet></router-outlet>